<title>Page title</title>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="Sprawsm doo" name="author">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
<link href="assets/images/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="assets/images/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="assets/images/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
<link href="assets/css/style.css" rel="stylesheet">
<body>
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="assets/js/app.min.js"></script>
  <script src="assets/js/behavior.min.js"></script>
</body>
