title Page title

meta charset="utf-8"
meta content="IE=edge" http-equiv="X-UA-Compatible"
/ meta content="" name="description"
meta content="Sprawsm doo" name="author"
meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"

/ link rel="apple-touch-icon" sizes="57x57"   href="assets/images/favicons/apple-touch-icon-57x57.png"
/ link rel="apple-touch-icon" sizes="60x60"   href="assets/images/favicons/apple-touch-icon-60x60.png"
link rel="apple-touch-icon" sizes="72x72"   href="assets/images/favicons/apple-touch-icon-72x72.png"
/ link rel="apple-touch-icon" sizes="76x76"   href="assets/images/favicons/apple-touch-icon-76x76.png"
link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png"
/ link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png"
/ link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png"
link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16"
/ link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32"
/ link rel="icon" type="image/png" href="assets/images/favicons/favicon-96x96.png" sizes="96x96

link rel="stylesheet" href="assets/css/style.css"

/ script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"

body

  script src="//code.jquery.com/jquery-2.1.4.min.js"
  script src="assets/js/app.min.js"
  script src="assets/js/behavior.min.js"
