// ==========================================================================
//  Buttons

/* Add .button { filter: none; } for IE9 */

.button {
  display: inline-block;
  padding: 7px 14px;
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  text-decoration: none !important;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 3px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  white-space: nowrap;
  .user-select(none);
}

// Sizing

.button-xs {
  font-size: @font-size-xs;
  padding: .25em .75em;
}

.button-sm {
  font-size: @font-size-sm;
  padding: .25em .75em;
}

.button-lg {
  font-size: @font-size-lg;
  padding: .5em 1.5em;
}

// Disabled buttons

.button-disabled,
.button-disabled:focus,
.button-disabled:hover {
  background: #dfdfdf;
  color: #999;
  cursor: default;
}

// Flavors

.button-default {
  .button-flavor(@color-text,@color-shaded);
  text-shadow: none;
}

.button-primary {
  .button-flavor(#fff,@color-primary);
}

.button-success {
  .button-flavor(#fff,@color-success);
}

.button-danger {
  .button-flavor(#fff,@color-danger);
}
