// ==========================================================================
// General utilities

.no-show { // position outside of viewport
  position: absolute !important;
  top: -9999px       !important;
  left: -9999px      !important;
  visibility: none   !important;
  display: block     !important;
  height: 0          !important;
  width: 0           !important;
  overflow: hidden   !important;
}

.hidden { // completely hide content
  display: none !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center { // Assumes element has width
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ml-none { margin-left: 0 !important; }
.ml-sm   { margin-left: @font-size-sm !important; }
.ml-base { margin-left: @font-size-base !important; }
.ml-lg   { margin-left: @font-size-lg !important; }

.mt-none { margin-top: 0 !important; }
.mt-sm   { margin-top: @font-size-sm !important; }
.mt-base { margin-top: @font-size-base !important; }
.mt-lg   { margin-top: @font-size-lg !important; }

.mr-none { margin-right: 0 !important; }
.mr-sm   { margin-right: @font-size-sm !important; }
.mr-base { margin-right: @font-size-base !important; }
.mr-lg   { margin-right: @font-size-lg !important; }

.mb-none { margin-bottom: 0 !important; }
.mb-sm   { margin-bottom: @font-size-sm !important; }
.mb-base { margin-bottom: @font-size-base !important; }
.mb-lg   { margin-bottom: @font-size-lg !important; }

.txtl { text-align: left; }
.txtr { text-align: right; }
.txtc { text-align: center; }

.loud {
  font-size: @font-size-lg;
  line-height: @line-height-tight;
}

.quiet,
small {
  font-style: normal !important;
  color: @color-quiet;
}

.caps {
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .15em;
}

// ==========================================================================
// UI elements

// Key-Value pairs

ul.key-value {

  li {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none !important;

    .key {
      float: left;
      width: 30%;
      margin-right: @grid-gutter;
      font-weight: bold;
      text-align: right;
    }

    .value {
      display: block;
      overflow: hidden;
    }

  }

}

// When you want more semantics

dl.key-value {

  dt {
    float: left;
    width: 30%;
    margin: 0;
    text-align: right;
  }

  dd {
    margin: 0;
    padding: 0 0 0 33%;
  }

}
