// =============================================================================
// Typography

@font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-size-xs: ceil((@font-size-base * 0.75));
@font-size-sm: ceil((@font-size-base * 0.85));
@font-size-base: 16px;
@font-size-md: ceil((@font-size-base * 1.25));
@font-size-lg: ceil((@font-size-base * 1.5));
@font-size-xl: ceil((@font-size-base * 2));

@line-height-base: 1.5;
@line-height-tight: 1.25;

// =============================================================================
// Colors

@color-text: #343434;
@color-quiet: #999;

@color-primary: #499bea;
@color-success: #94ce00;
@color-danger: #ff3019;
@color-shaded: #efefef;

@color-link: @color-primary;
@color-link-hover: lighten(@color-primary,10%);

// =============================================================================
// Grid

@grid-gutter: @font-size-base * 2;

// =============================================================================
// Media queries

@screen-xs: 480px;  // Extra small screen / phone
@screen-sm: 768px;  // Small screen / tablet
@screen-md: 992px;  // Medium screen / desktop
@screen-lg: 1200px; // Large screen / wide desktop

// So media queries don't overlap when required, provide a maximum

@screen-xs-max:              (@screen-sm - 1);
@screen-sm-max:              (@screen-md - 1);
@screen-md-max:              (@screen-lg - 1);
