/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.grid .knock-out:before:before,
.grid .knock-out:after:before,
.grid .nest:before:before,
.grid .nest:after:before,
.grid:before:before,
.grid:after:before,
.grid .knock-out:before:after,
.grid .knock-out:after:after,
.grid .nest:before:after,
.grid .nest:after:after,
.grid:before:after,
.grid:after:after {
  content: " ";
  display: table;
}
.grid .knock-out:before:after,
.grid .knock-out:after:after,
.grid .nest:before:after,
.grid .nest:after:after,
.grid:before:after,
.grid:after:after {
  clear: both;
}
.grid {
  max-width: 1140px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}
.grid .col {
  float: left;
  width: 8.3333333333%;
  padding-left: 32px;
}
.grid .cs-2 {
  width: 16.666666667%;
}
.grid .cs-3 {
  width: 25%;
}
.grid .cs-4 {
  width: 33.3333333333%;
}
.grid .cs-5 {
  width: 41.67%;
}
.grid .cs-6 {
  width: 50%;
}
.grid .cs-7 {
  width: 58.32%;
}
.grid .cs-8 {
  width: 66.66%;
}
.grid .cs-9 {
  width: 75%;
}
.grid .cs-10 {
  width: 83.3333333333%;
}
.grid .cs-11 {
  width: 91.67%;
}
.grid .cs-12 {
  width: 100%;
}
.grid .nest {
  margin-left: -32px;
}
.grid .cs-2 .col {
  width: 50%;
}
.grid .cs-3 .col {
  width: 33.3333333333%;
}
.grid .cs-3 .cs-2 {
  width: 66.6666666666%;
}
.grid .cs-4 .col {
  width: 25%;
}
.grid .cs-4 .cs-2 {
  width: 50%;
}
.grid .cs-4 .cs-3 {
  width: 75%;
}
.grid .cs-5 .col {
  width: 20%;
}
.grid .cs-5 .cs-2 {
  width: 40%;
}
.grid .cs-5 .cs-3 {
  width: 60%;
}
.grid .cs-5 .cs-4 {
  width: 80%;
}
.grid .cs-6 .col {
  width: 16.65%;
}
.grid .cs-6 .cs-2 {
  width: 33.3333333333%;
}
.grid .cs-6 .cs-3 {
  width: 50%;
}
.grid .cs-6 .cs-4 {
  width: 66.6666666666%;
}
.grid .cs-6 .cs-5 {
  width: 83.35%;
}
.grid .cs-7 .col {
  width: 14.2857142857143%;
}
.grid .cs-7 .cs-2 {
  width: 28.5714285714286%;
}
.grid .cs-7 .cs-3 {
  width: 42.8571428571429%;
}
.grid .cs-7 .cs-4 {
  width: 57.1428571428572%;
}
.grid .cs-7 .cs-5 {
  width: 71.43%;
}
.grid .cs-8 .col {
  width: 12.5%;
}
.grid .cs-8 .cs-2 {
  width: 25%;
}
.grid .cs-8 .cs-3 {
  width: 37.5%;
}
.grid .cs-8 .cs-4 {
  width: 50%;
}
.grid .cs-8 .cs-5 {
  width: 62.5%;
}
.grid .cs-9 .col {
  width: 11.1111111111%;
}
.grid .cs-9 .cs-2 {
  width: 22.2222222222%;
}
.grid .cs-9 .cs-3 {
  width: 33.3333333333%;
}
.grid .cs-9 .cs-4 {
  width: 44.4444444444%;
}
.grid .cs-9 .cs-5 {
  width: 55.5555555555%;
}
.grid .cs-9 .cs-6 {
  width: 66.6666666666%;
}
.grid .cs-9 .cs-7 {
  width: 77.7777777777%;
}
.grid .cs-9 .cs-8 {
  width: 88.8888888888%;
}
.grid .cs-10 .col {
  width: 10%;
}
.grid .cs-10 .cs-2 {
  width: 20%;
}
.grid .cs-10 .cs-3 {
  width: 30%;
}
.grid .cs-10 .cs-4 {
  width: 40%;
}
.grid .cs-10 .cs-5 {
  width: 50%;
}
.grid .cs-10 .cs-6 {
  width: 60%;
}
.grid .cs-10 .cs-7 {
  width: 70%;
}
.grid .cs-10 .cs-8 {
  width: 80%;
}
.grid .cs-10 .cs-9 {
  width: 90%;
}
.grid .col.half {
  width: 50%;
}
.grid .col.third {
  width: 33.3333333333%;
}
.grid .col.quarter {
  width: 25%;
}
.grid > .col.skip-1 {
  margin-left: 8.3%;
}
.grid > .col.skip-2 {
  margin-left: 16.6666666666%;
}
.grid > .col.skip-3 {
  margin-left: 24.9999999999%;
}
.grid > .col.skip-4 {
  margin-left: 33.3333333332%;
}
.grid > .col.skip-5 {
  margin-left: 41.6666666665%;
}
.grid > .col.skip-6 {
  margin-left: 49.9999999998%;
}
.grid > .col.skip-7 {
  margin-left: 58.3333333331%;
}
.grid > .col.skip-8 {
  margin-left: 66.6666666664%;
}
.grid > .col.skip-9 {
  margin-left: 74.9999999997%;
}
.grid > .col.skip-10 {
  margin-left: 83.333333333%;
}
.grid > .col.skip-11 {
  margin-left: 91.6666666663%;
}
.grid .clearBefore {
  clear: left;
}
.grid .clearAfter {
  clear: right;
}
.grid .clear,
.grid .clearBoth {
  clear: both;
}
.grid .col.contra {
  float: right;
}
.grid .knock-out {
  margin-left: -32px;
  margin-right: -32px;
  padding-left: 32px;
  padding-right: 32px;
}
.grid .pad {
  margin-left: 32px;
}
.grid .col .pad {
  margin-left: 32px;
  margin-right: 32px;
}
.grid .col.first {
  padding-left: 0;
}
@media only screen and (max-width: 991px) {
  .grid {
    margin-left: 32px;
    margin-right: 32px;
    padding-right: 0;
    width: auto;
  }
  .grid .col,
  .grid .col .col {
    display: block;
    float: none;
    width: auto;
    padding-left: 0;
  }
  .grid .pad,
  .grid .col .pad {
    margin-left: 0;
    margin-right: 0;
  }
  .grid .col.contra {
    float: none;
  }
  .grid .col.skip-1,
  .grid .col.skip-2,
  .grid .col.skip-3,
  .grid .col.skip-4,
  .grid .col.skip-5,
  .grid .col.skip-6,
  .grid .col.skip-7,
  .grid .col.skip-8,
  .grid .col.skip-9,
  .grid .col.skip-10,
  .grid .col.skip-11 {
    margin-left: 0;
  }
  .grid .nest {
    margin-left: 0;
    margin-right: 0;
  }
  .grid .knock-out {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.no-show {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  visibility: none   !important;
  display: block     !important;
  height: 0          !important;
  width: 0           !important;
  overflow: hidden   !important;
}
.hidden {
  display: none !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ml-none {
  margin-left: 0 !important;
}
.ml-sm {
  margin-left: 14px !important;
}
.ml-base {
  margin-left: 16px !important;
}
.ml-lg {
  margin-left: 24px !important;
}
.mt-none {
  margin-top: 0 !important;
}
.mt-sm {
  margin-top: 14px !important;
}
.mt-base {
  margin-top: 16px !important;
}
.mt-lg {
  margin-top: 24px !important;
}
.mr-none {
  margin-right: 0 !important;
}
.mr-sm {
  margin-right: 14px !important;
}
.mr-base {
  margin-right: 16px !important;
}
.mr-lg {
  margin-right: 24px !important;
}
.mb-none {
  margin-bottom: 0 !important;
}
.mb-sm {
  margin-bottom: 14px !important;
}
.mb-base {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 24px !important;
}
.txtl {
  text-align: left;
}
.txtr {
  text-align: right;
}
.txtc {
  text-align: center;
}
.loud {
  font-size: 24px;
  line-height: 1.25;
}
.quiet,
small {
  font-style: normal !important;
  color: #999999;
}
.caps {
  font-size: .75em;
  text-transform: uppercase;
  letter-spacing: .15em;
}
ul.key-value li {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none !important;
}
ul.key-value li .key {
  float: left;
  width: 30%;
  margin-right: 32px;
  font-weight: bold;
  text-align: right;
}
ul.key-value li .value {
  display: block;
  overflow: hidden;
}
dl.key-value dt {
  float: left;
  width: 30%;
  margin: 0;
  text-align: right;
}
dl.key-value dd {
  margin: 0;
  padding: 0 0 0 33%;
}
/* Add .button { filter: none; } for IE9 */
.button {
  display: inline-block;
  padding: 7px 14px;
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  text-decoration: none !important;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 3px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button-xs {
  font-size: 12px;
  padding: .25em .75em;
}
.button-sm {
  font-size: 14px;
  padding: .25em .75em;
}
.button-lg {
  font-size: 24px;
  padding: .5em 1.5em;
}
.button-disabled,
.button-disabled:focus,
.button-disabled:hover {
  background: #dfdfdf;
  color: #999;
  cursor: default;
}
.button-default {
  color: #343434;
  border-color: #bcbcbc;
  background: #efefef;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5OWJlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDdjZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #efefef 0%, #bcbcbc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #bcbcbc));
  background: -webkit-linear-gradient(top, #efefef 0%, #bcbcbc 100%);
  background: -o-linear-gradient(top, #efefef 0%, #bcbcbc 100%);
  background: -ms-linear-gradient(top, #efefef 0%, #bcbcbc 100%);
  background: linear-gradient(to bottom, #efefef 0%, #bcbcbc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@button-background-base', endColorstr='darken(@button-background-base,20%)', GradientType=0);
  text-shadow: none;
}
.button-default:focus,
.button-default:hover {
  background: #f4f4f4;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmYThmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMThkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f4f4f4 0%, #e7e7e7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e7e7e7));
  background: -webkit-linear-gradient(top, #f4f4f4 0%, #e7e7e7 100%);
  background: -o-linear-gradient(top, #f4f4f4 0%, #e7e7e7 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #e7e7e7 100%);
  background: linear-gradient(to bottom, #f4f4f4 0%, #e7e7e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@button-background-base,2%)', endColorstr='darken(@button-background-base,3%)', GradientType=0);
}
.button-default:active {
  background: #d6d6d6;
}
.button-primary {
  color: #ffffff;
  border-color: #1568b8;
  background: #499bea;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5OWJlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDdjZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #499bea 0%, #1568b8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #499bea), color-stop(100%, #1568b8));
  background: -webkit-linear-gradient(top, #499bea 0%, #1568b8 100%);
  background: -o-linear-gradient(top, #499bea 0%, #1568b8 100%);
  background: -ms-linear-gradient(top, #499bea 0%, #1568b8 100%);
  background: linear-gradient(to bottom, #499bea 0%, #1568b8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@button-background-base', endColorstr='darken(@button-background-base,20%)', GradientType=0);
}
.button-primary:focus,
.button-primary:hover {
  background: #52a0eb;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmYThmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMThkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #52a0eb 0%, #3b93e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52a0eb), color-stop(100%, #3b93e8));
  background: -webkit-linear-gradient(top, #52a0eb 0%, #3b93e8 100%);
  background: -o-linear-gradient(top, #52a0eb 0%, #3b93e8 100%);
  background: -ms-linear-gradient(top, #52a0eb 0%, #3b93e8 100%);
  background: linear-gradient(to bottom, #52a0eb 0%, #3b93e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@button-background-base,2%)', endColorstr='darken(@button-background-base,3%)', GradientType=0);
}
.button-primary:active {
  background: #1b82e5;
}
.button-success {
  color: #ffffff;
  border-color: #4b6800;
  background: #94ce00;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5OWJlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDdjZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #94ce00 0%, #4b6800 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #94ce00), color-stop(100%, #4b6800));
  background: -webkit-linear-gradient(top, #94ce00 0%, #4b6800 100%);
  background: -o-linear-gradient(top, #94ce00 0%, #4b6800 100%);
  background: -ms-linear-gradient(top, #94ce00 0%, #4b6800 100%);
  background: linear-gradient(to bottom, #94ce00 0%, #4b6800 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@button-background-base', endColorstr='darken(@button-background-base,20%)', GradientType=0);
}
.button-success:focus,
.button-success:hover {
  background: #9bd800;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmYThmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMThkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #9bd800 0%, #89bf00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9bd800), color-stop(100%, #89bf00));
  background: -webkit-linear-gradient(top, #9bd800 0%, #89bf00 100%);
  background: -o-linear-gradient(top, #9bd800 0%, #89bf00 100%);
  background: -ms-linear-gradient(top, #9bd800 0%, #89bf00 100%);
  background: linear-gradient(to bottom, #9bd800 0%, #89bf00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@button-background-base,2%)', endColorstr='darken(@button-background-base,3%)', GradientType=0);
}
.button-success:active {
  background: #6f9b00;
}
.button-danger {
  color: #ffffff;
  border-color: #b21200;
  background: #ff3019;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5OWJlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDdjZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ff3019 0%, #b21200 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #b21200));
  background: -webkit-linear-gradient(top, #ff3019 0%, #b21200 100%);
  background: -o-linear-gradient(top, #ff3019 0%, #b21200 100%);
  background: -ms-linear-gradient(top, #ff3019 0%, #b21200 100%);
  background: linear-gradient(to bottom, #ff3019 0%, #b21200 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@button-background-base', endColorstr='darken(@button-background-base,20%)', GradientType=0);
}
.button-danger:focus,
.button-danger:hover {
  background: #ff3923;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmYThmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMThkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ff3923 0%, #ff220a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3923), color-stop(100%, #ff220a));
  background: -webkit-linear-gradient(top, #ff3923 0%, #ff220a 100%);
  background: -o-linear-gradient(top, #ff3923 0%, #ff220a 100%);
  background: -ms-linear-gradient(top, #ff3923 0%, #ff220a 100%);
  background: linear-gradient(to bottom, #ff3923 0%, #ff220a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@button-background-base,2%)', endColorstr='darken(@button-background-base,3%)', GradientType=0);
}
.button-danger:active {
  background: #e51700;
}
* {
  box-sizing: border-box;
}
figure {
  margin: 1em auto;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #343434;
  background-color: #fff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #499bea;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #77b4ef;
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
hr {
  margin-top: 32px;
  margin-bottom: 32px;
  border: 0;
  border-top: 1px solid #999999;
}
[role="button"] {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */